{#
/**
 * @file
 * Overridden implementation to display a single page.
 */
#}

{{ page.announcements }}
<header class="header">
  <div class="header__content" data-flex-wrap-aware>
    {{ page.utility }}
    {{ page.branding }}
    {{ page.cta }}
  </div>
</header>
{{ page.primary_nav }}
{{ page.before_content }}
{% set aside = page.aside|render %}
<div id="main-content" class="main-content{% if aside|striptags|trim %} main-content--with-sidebar{% endif %}">
  {{ page.content }}
  {{ aside }}
</div>
{{ page.after_content }}
<footer>
  <div class="footer-top">
    <div class="footer-top__regions">
      {{ page.footer_top_first }}
      {{ page.footer_top_second }}
      {{ page.footer_top_third }}
    </div>
  </div>
  <div class="footer-middle">
    <div class="footer-middle__regions">
      {{ page.footer_middle_first }}
      {{ page.footer_middle_second }}
      {{ page.footer_middle_third }}
    </div>
  </div>
  <div class="footer-bottom">
    <div class="footer-bottom__regions">
      {{ page.footer_bottom }}
    </div>
  </div>
</footer>
