{#
/**
 * @file
 * Overridden implementation to display a single page.
 */
#}

{{ page.announcements }}
<header>
  {{ page.branding }}
  {{ page.utility }}
  {{ page.cta }}
</header>
{{ page.primary_nav }}
{{ page.above_content }}
<div id="main-content">
  {{ page.content }}
  {{ page.aside }}
</div>
{{ page.below_content }}
<footer>
  {{ page.footer_top }}
  {{ page.footer_middle }}
  {{ page.footer_bottom }}
</footer>
