{#
/**
 * @file
 * Olivero's theme implementation for the main menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 *
 * @ingroup themeable
 */
#}
{{ attach_library('worldcampus/main-menu') }}

{# Recursive macro that renders the menu tree. #}
{% macro menu_links(items, attributes, menu_level) %}
    {% spaceless %}
        {% set primary_nav_level = 'menu--l' ~ (menu_level + 1) %}
        {% import _self as menus %}
        {% if items %}
            <ul {{ attributes.addClass('menu', primary_nav_level)|without('region') }}>
                {% set attributes = attributes.removeClass(primary_nav_level) %}
                {% for item in items %}

                    {% set item_classes = [
                        'menu__item',
                        'menu__item--l' ~ (menu_level + 1),
                        item.below ? 'menu__item--has-children',
                    ]
                    %}

                    {% set link_classes = [
                        'menu__link',
                        'menu__link--l' ~ (menu_level + 1),
                        item.in_active_trail ? 'menu__link--active-trail',
                    ]
                    %}

                    <li{{ item.attributes.addClass(item_classes) }}>
                        {% set link_title %}
                            <span class="menu__link-inner">{{ item.title }}</span>
                        {% endset %}
                        {{ link(link_title, item.url, { 'class': link_classes }) }}
                        {% if item.below %}
                            {% set aria_id = (item.title ~ '-submenu-' ~ loop.index )|clean_id %}
                            <button class="menu__toggle" aria-controls="{{ aria_id }}" aria-expanded="false">
                                <span class="visually-hidden">{{ 'Toggle @item_title menu'|t({'@item_title': item.title})}}</span>
                                <span class="menu__chevron">{% include '@atoms/sprite/sprite.twig' with { name: 'fas-chevron-down' } only %}</span>
                            </button>
                            {% set attributes = attributes.setAttribute('id', aria_id) %}
                            {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endspaceless %}
{% endmacro %}


{% import _self as menus %}

{% apply spaceless %}
    <button class="primary-nav__mobile-toggle" aria-controls="primary-nav-menu" aria-expanded="false">
  <span class="primary-nav__mobile-toggle-collapsed">
    <span class="visually-hidden">{{ 'Expand main navigation '|t }}</span>
    {{ 'Menu'|t }}
      {% include '@atoms/sprite/sprite.twig' with { name: 'fa-bars' } only %}
  </span>
        <span class="primary-nav__mobile-toggle-expanded">
    {{ 'Close'|t }}
    <span class="visually-hidden"> {{ ' main navigation menu'|t }}</span>
    {% include '@atoms/sprite/sprite.twig' with { name: 'fa-times' } only %}
  </span>
    </button>
{% endapply %}
{% set attributes = attributes.addClass('menu') %}
{% set attributes = attributes.setAttribute('id', 'primary-nav-menu') %}
{{ menus.menu_links(items, attributes, 0) }}
